<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Finder</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Restaurant Finder</h1>
  <form action="/restaurants" method="get">
    <input type="text" name="location" placeholder="Enter location">
    <select name="category">
      <option value="">All Categories</option>
      <% categories.forEach(category => { %>
        <option value="<%= category._id %>"><%= category.name %></option>
      <% }) %>
    </select>
    <button type="submit">Search</button>
  </form>
  <ul>
    <% restaurants.forEach(restaurant => { %>
      <li><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></li>
    <% }) %>
  </ul>
</body>
</html>
