<!DOCTYPE html>
<html>
<head>
  <title>Dry Cleaners</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
      background-color: lightblue;
      text-align: center;
    }
    .container {
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <h1>Welcome to Our Dry Cleaners!</h1>
  <div class="container">
    <p>We offer dry cleaning, laundry, and alteration services. Currently, we have one location, but we plan to expand in the future.</p>
  </div>
  <form action="/drycleaners" method="get">
    <input type="text" name="location" placeholder="Enter location">
    <select name="service">
      <option value="">All</option>
      <% services.forEach(service => { %>
        <option value="<%= service._id %>"><%= service.name %></option>
      <% }) %>
    </select>
    <button type="submit">Search</button>
  </form>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/review">Review</a>
    </nav>
  </header>
  <ul>
    <% stores.forEach(store => { %>
      <li><a href="/stores/<%= store._id %>"><%= store.name %></a></li>
    <% }) %>
  </ul>
</body>
</html>


