<!DOCTYPE html>
<html>
<head>
  <title><%= restaurant.name %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1><%= restaurant.name %></h1>
  <p><%= restaurant.address %></p>
  <p>Category: <%= restaurant.category.name %></p>
  <a href="/restaurants">Back to list</a>
</body>
</html>
