/* Resetting some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  background: linear-gradient(to right, #4a4a8a, #6a6a9b, #8a8ab3, #aaaac9, #cacaf0); /* Darker gradient background */
  color: #090909; /* Light text color to contrast with dark background */
  height: 100vh; /* Full height of the viewport */
}

/* Header styles */
header {
  background-color: #333;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

header nav a {
  color: rgba(13, 9, 9, 0.538);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header nav a:hover {
  background-color: #555;
}

/* Page title styles */
h1 {
  margin-top: 20px;
  text-align: center;
}

/* Form styles */
form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select, button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

/* List styles */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  text-align: center;
  margin: 10px 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

ul li a:hover {
  background-color: #fff;
  color: #333;
}

